#diceRoller {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index:-1;
}

#diceRollerUI {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 26pt;
}

/* ****************************** */

.top_field {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: rgba(150,150,150,0.1);
}

#set { /* text input */
    text-align: center;
    font-size: 26pt;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(150,150,150,0.5);
    max-width: 100%;
    text-overflow: ellipsis;
    padding: 0.2em;
}

#set:focus {
    background-color: rgba(150,150,150,0.7);
    outline: none;
}

.center_field {
    flex: 1;
    text-align: center;
    height: 100%;
    width: 100%;
}

.center_field * {
    position: relative;
    font-family: Trebuchet MS;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 15px;
}

#selector_div {
    background: none;
    height: 100%;
    width: 100%;
}

#selector_div p {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    background: none;
    margin: auto;
    top: 35%;
    padding: 1em;
}

.bottom_field {
    position: absolute;
    text-align: center;
    bottom: 5px;
    width: inherit;
    padding: 0px;
}

#label {
    font-size: 32pt;
    word-spacing: 0.5em;
    color: rgba(255,255,255,0.8);
    background: rgba(0, 0, 0, 0.2);
    padding: 0.25em;
    padding-top: 0.1em;
}
