* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body {
    font-family: Georgia;
    margin: 0;
    /* overflow: hidden;     */
    background: #202020;
    background-image: url("assets/background.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
}