/* @brief 3d dice roller app stylesheet
   @author Sarah Rosanna Busch
   @date 9 July 2022
   */

* {
    box-sizing: border-box; /* padding and border are included in total width/height of all elements */
    margin: 0px;
}

body {
    font-family: Georgia;
    margin: 0;
    overflow-x: hidden;
    background: #202020;
    background-image: url("assets/background.svg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

/* ******* DICE ROLLER *********** */

#diceRoller {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index:-1;
    overflow: hidden;
}

#canvas {
    width: 100%;
    height: 100%;
}

/* ************* UI ************* */

#diceRollerUI {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 26pt;
}

.top_field {
    text-align: center;
    width: 100%;
    padding: 5px;
    background-color: rgba(150,150,150,0.1);
}

#textInput { 
    text-align: center;
    font-size: 26pt;
    border: none;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(150,150,150,0.5);
    max-width: 100%;
    text-overflow: ellipsis;
    padding: 0.2em;
    text-decoration: none;
}

#textInput:focus {
    background-color: rgba(150,150,150,0.7);
    outline: none;
}

.center_field {
    flex: 1;
    text-align: center;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.center_field * {
    position: relative;
    font-family: Trebuchet MS;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 15px;
    user-select: none;
}

#instructions {
    background: none;
    height: 100%;
    width: 100%;
}

#instructions p {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    background: none;
    margin: auto;
    top: 35%;
    padding: 1em;
}

#numPad { /* container */
    position: relative;
    top: -25%;
}

.numPad { /* table */
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

.numPad td {
    cursor: pointer;
}

#numPad button {
    padding: 0.75em;
    width: 113px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: black;
}

.bottom_field {
    position: absolute;
    text-align: center;
    min-height: 1.5em;
    bottom: 5px;
    width: inherit;
    padding: 0px;
}

#result {
    position: relative;
    display: block;
    min-height: 1.5em;
    bottom: 5px;
    font-size: 32pt;
    word-spacing: 0.5em;
    color: rgba(255,255,255,0.9);
    background: rgba(0, 0, 0, 0.4);
    padding: 0.25em;
    padding-top: 0.1em;
    margin-left: 5px;
    margin-right: 5px;
}
